{
  "extends": ["next"],
  "rules": {
    "import/no-named-as-default": 0,
    "import/namespace": 0,
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ]
  }
}
