{
  "extends": ["next/core-web-vitals"],
  "rules": {
    "import/no-named-as-default": 1,
    "import/no-unresolved": 1,
    "import/namespace": 0,
    "import/no-unused-modules": 1,
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ]
  }
}
